$fondo: white;
$fondoPizarra : rgba(217, 235, 235, 0.979);
$fondoCard : white;
$colorTitulos :rgb(63, 5, 5);
$colorTitulosArticulos :rgb(22, 19, 19);
$fondoTitulosArticulos : white;
$colorCopete : black;
$fondoArt :rgb(171, 219, 219);
$fondoTarjeta : pink;
$fondoBody : rgb(209, 83, 83);
$colorEncabezado: white;
.toast-body {
    background-color: #4ff;
}
.estiloToast {
    background-color: #fff;
    padding: 20px;
}

h1 {
  color: $colorTitulos;
}
h2 {
    color: $colorEncabezado;
  }
  
.box {
    background-color: $fondo; 
    
    padding :20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  align-content: normal;
  }

  .pizarraNoticias{ 
      
      background-color: $fondoPizarra;
      padding: 20px; 
      display :flex;
      flex-wrap: wrap;
    flex-direction: row;
    }

.estiloTarjeta {
    width: 450px;
    padding : 15px;
    background-color :$fondoTarjeta,


}
.estiloArticulo {
   width: 150px;
    padding : 0px;
    background-color :$fondoArt;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

}
.enlaceMedios {
    font-size: 15px;
}
 .tituloArticulo {
     color : $colorTitulosArticulos;
     background-color :$fondoTitulosArticulos;
     font-size: 15px;


}
.estiloArticulo {
    font-size: 15px;
    color:$colorTitulos;

}
.textoCopete {
    font-size: 15px;
    color:$colorCopete;
}
.colorHeader {
    background-color:cyan;
}
.estiloBody {

    background-color: $fondoBody;
}